@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> rolemanager
@inject UserManager<ApplicationUser> usermanager
<h4>مدیریت نقش کاربری کاربران</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            @foreach (var item in rolemanager.Roles)
            {
                <th>@item.Name</th>
            }
        </tr>
    </thead>
    @foreach (var item in usermanager.Users)
    {
        <tr>
            <td>@($"{item.UserName}")</td>
            @foreach (var itemrole in rolemanager.Roles)
            {
                <td>
                    <input type="checkbox" id="chkbRole"
                           @(await usermanager.IsInRoleAsync(item, itemrole.Name) ? "checked=checked" : "")
                           @(ViewData["defaultAdminUserName"].ToString() == item.UserName && itemrole.Name == ViewData["defaultAdminRoleName"].ToString() ? "disabled=disabled" : "")
                           userid="@item.Id" rolename="@itemrole.Name" />
                </td>
            }
        </tr>
    }
    <tr></tr>
</table>

<script>
    $('td').on('change', '#chkbRole', function () {
        var status = $(this).prop('checked');

        $.post('SiteAdmin/ManageUsers/ChangeUserInRoles', {
            userid: $(this).attr('userid'),
            rolename: $(this).attr('rolename'),
            status: status
        })
    })
</script>