@model List<UserRolesViewModel>

<div class="rtl">
    <h1>مدیریت کابران</h1>
    <div class="row mb-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>نام کاربری</td>
                    <td>نام</td>
                    <td>نام خانوادگی</td>
                    <td>Roles</td>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@($"{item.User.UserName}")</td>
                    <td>@($"{item.User.FirstName}")</td>
                    <td>@($"{item.User.LastName}")</td>
                    <td>
                        @foreach (var role in item.Roles)
                        {
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="roleCheckbox" @(role.IsInRole ? "checked" : "")
                                       @(ViewData["defaultAdminUserName"].ToString() == item.User.UserName && role.RoleName == ViewData["defaultAdminRoleName"].ToString() ? "disabled" : "")
                                       userName="@item.User.UserName" rolename="@role.RoleName">
                                <label class="custom-control-label">@role.RoleName</label>
                            </div>
                        }
                    </td>
                </tr>
            }
        </table>

        <form asp-action="ChangePass">
            <input type="hidden" id="txtUsernameChangPass" name="username" />
            <button class="btn btn-warning mr-2" disabled id="btnChangePass">تعویض رمز</button>
        </form>
        <form asp-action="EditUser">
            <input type="hidden" id="txtUserameEdit" name="username" />
            <button class="btn btn-warning  mr-2" disabled id="btnEdit">ویرایش کاربر</button>
        </form>
        <form asp-action="DeleteUser">
            <input type="hidden" id="txtUsernameDelete" name="username" />
            <button class="btn btn-danger mr-2" disabled @*onclick="return confirm('Are you sure?')"*@ id="btnDelete">حذف کاربر</button>
        </form>
    </div>
    <hr />
</div>
<script>
    $(function () {
        $(comboUsers).change(function () {
            $(txtusernamechngpass).val($(comboUsers).val());
            $(txtusernameedit).val($(comboUsers).val());
            $(txtusernamedelete).val($(comboUsers).val());
            if ($(comboUsers).val() == "") {
                $(btnDelete).attr('disabled', 'disabled')
                $(btnEdit).attr('disabled', 'disabled')
                $(btnChangePass).attr('disabled', 'disabled')
                $(res).html('');
            } else {
                $(btnDelete).removeAttr('disabled')
                $(btnEdit).removeAttr('disabled')
                $(btnChangePass).removeAttr('disabled')
            }
        })
    })
</script>
